/* ----------------------------------------------------------------------------------------------------- */
.footer {
    padding: 70px 0 40px;
}
.footer__inner {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.2fr 1fr;
    gap: 30px;
}
.border-line {
    height: 2px;
    width: 100%;
    background: var(--accent-color);
}
.footer__col-first{
    max-width: 263px;
    width: 100%;
    font-size: 14px;
    line-height: 1.62;
}
.footer__col {
    margin-top: 34px;
}
.footer__logo {
    display: block;
    max-width: 172px;
    margin-top: 40px;
    margin-bottom: 28px;
}
.footer__logo img{
    width: 100%;
}
.address__item-tel,
.address__item-mail,
.address__item-address{
    font-size: 14px;
    line-height: 1.62;
}
.address__item-address{
    margin-bottom: 20px;
}
.social__list {
    display: flex;
    gap: 10px;
}
.socail__link {
    width: 34px;
    height: 34px;
}
.socail__link img{
    width: 100%;
}
.footer__col-item:first-child {
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 20px;
}
.footer__col-link {
    font-size: 16px;
    line-height: 1.6;
    color: #85899C;
    text-decoration: underline;
    padding-bottom: 10px;
    margin: 0px;

    transition: all .4s;
}
.footer__col-link:hover{
    color: var(--general-text);
}
.footer__col-link:last-child{
    padding-bottom: 0px;
}