:root{
    --general-bg: #282B38;
    --general-text: #FFFFFF;
    --accent-bg: #363A4D;
    --accent-color: #E58D35;
    --add-accent-color: #89C249;
    --border-radius: 20px;
}

body{
    background: var(--general-bg);
    color: var(--general-text);
    font-family: "Proxima Nova Rg", "Arial", san-serif;
}
.body--opened-menu{
    overflow: hidden;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    /* Чтобы не было горизонтального скроллбара */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}  
/* -------------- */
.burger-icon{
    display: none;
    width: 30px;
    height: 27px;
    z-index: 11;
}
.burger-icon span{
    position: relative;
}
.burger-icon span::before,
.burger-icon span::after{
    content: "";
    position: absolute;
}
.burger-icon span::before{
    top: -10px;
}
.burger-icon span::after{
    bottom: -10px;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
}
.body--opened-menu .burger-icon span::before{
    top: 0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after{
    bottom: 0px;
    transform: rotate(-45deg);
}
.body--opened-menu .burger-icon span{
    background: transparent;
}
/* -------------- */
.button {
    border: 1px solid var(--accent-color);
    background: var(--accent-color);
    width: 100%;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.button__small{
    height: 50px;
}
.button__big {
    height: 68px;
}
/* -------------- */
.border-line {
    height: 2px;
    width: 100%;
    background: var(--accent-color);
}

/* ----------------------------------------------------------------------------------------------------- */
.header {
    margin-bottom: 25px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}
.header__logo{
    max-width: 172px;
}
.header__logo img{
    width: 100%;
}
.nav {  
}
.nav__list {
    display: flex;
    gap: 42px;
}
.nav__item {
}
.header__btn{
    max-width: 172px;
    width: 100%;
}
.btn-nav{
    display: none;
}

/* ----------------------------------------------------------------------------------------------------- */
.banner {
}
.main__banner {
    margin: 0px 50px 30px;
}
.banner__slider {
    position: relative;
}
.banner__wrapper{
}
.banner__slide {
    padding: 163px 0 228px;
    z-index: 0;
    max-height: 700px;
}
.slide-1 {
    background: linear-gradient(90deg, #040511b8, rgba(88, 88, 88, 0)), url("../img/banner-slider/banner-slide-1.jpg")  80% 80% / cover no-repeat ;
    border-radius: 20px;
    height: 100%;
}
.slide-2{
    background: linear-gradient(90deg, #040511b8, rgba(88, 88, 88, 0)), url("../img/banner-slider/banner-slide-2.jpg")  10% 80% / cover no-repeat ;
    border-radius: 20px;
    height: 100%;
}
.slide-3{
    background: linear-gradient(90deg, #040511b8, rgba(88, 88, 88, 0)), url("../img/banner-slider/banner-slide-3.jpg")  10% 80% / cover no-repeat ;
    border-radius: 20px;
    height: 100%;
}
.slide-4{
    background: linear-gradient(90deg, #040511b8, rgba(88, 88, 88, 0)), url("../img/banner-slider/banner-slide-4.jpg")  10% 80% / cover no-repeat ;
    border-radius: 20px;
    height: 100%;
}
.banner__title {
    font-size: 56px;
    font-weight: 700;
    max-width: 463px;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.26;
    margin-bottom: 8px;
}
.banner__text {
    max-width: 345px;
    font-size: 20px;
    margin-bottom: 37px;
    line-height: 1.35;
}
.banner__button{
    max-width: 293px;
}
.banner__pagination {
    display: flex;
    justify-content: center;
    color: var(--general-text);
    position: absolute;
    z-index: 10;
}
.swiper-pagination-bullet{
    border: 2px solid var(--general-text);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: var(--general-text);
}
.banner__prev,
.banner__next {
    color: var(--general-text);
}


/* ----------------------------------------------------------------------------------------------------- */
.calculation {
}
.main__calculation {

}
.calculation__body {
    display: flex;
}
.calculation__content {
    
}
.calculation__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.24;
    margin-top: 60px;
    text-transform: uppercase;
    max-width: 626px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 62px;
}
.calculation__title::after{
    content: "";
    width: 85px;
    height: 2px;
    background: var(--add-accent-color);
    position: absolute;
    top: 73%;
    right: 7%;
}
.calculation__window {
    
}
.calculation__window-number {
}
.calculation__form {
    background: var(--accent-bg);
    padding: 70px 50px 40px;
    border-radius: 20px;
}
.calculation__form-input {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 10px;
    
}
.input__checkbox {
}
.form__button {
}
.button {
}
.calculation__img {
    max-width: 625px;
    position: relative;
}
.calculation__img {
    position: absolute;
    left: 50%;
}









/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
.footer {
    padding: 70px 0 40px;
}
.footer__inner {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.2fr 1fr;
    
    gap: 30px;
}
.footer__col-first{
    max-width: 263px;
    width: 100%;
    font-size: 14px;
    line-height: 1.62;
}
.footer__col {
    margin-top: 34px;
}
.footer__logo {
    display: block;
    max-width: 172px;
    margin-top: 40px;
    margin-bottom: 28px;
}
.footer__logo img{
    width: 100%;
}
.address__list {    
}
.address__item-tel,
.address__item-mail,
.address__item-address{
    font-size: 14px;
    line-height: 1.62;
}
.address__item-address{
    margin-bottom: 20px;
}
.social__list {
    display: flex;
    gap: 10px;
}
.social__item {
}
.socail__link {
    width: 34px;
    height: 34px;
}
.socail__link img{
    width: 100%;
}
.footer__col-item:first-child {
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 20px;
}
.footer__col-link {
    font-size: 16px;
    line-height: 1.6;
    color: #85899C;
    text-decoration: underline;
    padding-bottom: 10px;
    margin: 0px;
}
.footer__col-link:last-child{
    padding-bottom: 0px;
}
.footer__col-link {
}















/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
@media (max-width: 1350px) {
    .swiper-button-prev,
    .swiper-button-next {
        top: 95%;
    }
    .banner__slide{
        background-position: center;
        background-size: cover cover;
    }
}
@media (max-width: 1100px) {
    .nav__list {
        gap: 15px;
    } 
}


@media (max-width: 900px) {
    .header__btn{
        display: none;
    }
    .nav{
        position: fixed;
        inset: 0;
        width: 100%;
        height: 60%;
        opacity: 0;
        visibility: hidden;
        background: var(--accent-bg);
        transform: translateY(-50%);
        padding: 37px 102px 0px;
        transition: all .3s;
        z-index: 11;
    }
    .btn-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        gap: 25px;
        font-size: 24px;
    }
    .body--opened-menu .nav{
        transform: translateY(20%);
        opacity: 1;
        visibility: visible;
    }
    .body--opened-menu .btn-nav{
        opacity: 1;
        visibility: visible;
    }
    .burger-icon{
        display: flex;
    }
    /* -------------- */






    .footer__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    }
    .footer__col-first{
        grid-area: 2/2/3/3;
        grid-column:  1 / -1;
        text-align: center;
        margin: 0 auto;
    }
    .footer__logo {
        margin: 0 auto;
        max-width: 172px;
        margin-top: 40px;
        margin-bottom: 28px;
    }
    .footer__col {
        margin-top: 25px;
    }
    .social__list {
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 700px) {
    .main__banner {
        margin: 0px;
    }
    .banner__slide{
        border-radius: 0;
    }
    .banner__prev,
    .banner__next{
        display: none;
    }
    .banner__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner__title {
        font-size: 7vw;
    }
    .banner__text {
        font-size: 16px;
    }
    .banner__button{
        font-size: 16px;
    }
}


@media (max-width: 550px) {
    .footer {
        padding: 55px 0 34px;
    }
    .footer__col{
        display: none;
    }
}


@media (max-width: 450px) {
    .nav{
        padding: 37px 20px 0px;
    }
}