*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.modal__open{
    display: block;
    margin: 30px auto;
    width: 30vw;
    height: 15vh;
    cursor: pointer;
}
.modal{
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 26, 26, 0.365);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.modal-open{
    opacity: 1;
    visibility: visible;
}
.modal-window{
    position: relative;
    width: 40vw;
    height: 60vh;
    padding: 50px 30px;
    overflow-y: auto;
    border: 1px solid rgb(28, 27, 27);
    background-color: rgb(28, 27, 27);
    color: white;
    border-radius: 10px;
}
.close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    color: rgb(28, 27, 27);
}