:root{
    --general-bg: #282B38;
    --general-text: #FFFFFF;
    --accent-bg: #363A4D;
    --accent-color: #E58D35;
    --add-accent-color: #89C249;
    --border-radius: 90px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}
body{
    background: var(--general-bg);
    color: var(--general-text);
    font-family: "Proxima Nova Rg", "Arial", sans-serif;
}
.body--opened-modal,
.body--opened-menu{
    overflow: hidden;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    /* Чтобы не было горизонтального скроллбара */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}  
/* -------------- */
.button__bright,
.button__dark {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    color: var(--general-text);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px ;
    gap: 10px;
}
.button__bright{
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.button__dark{
    background: var(--general-bg);
    border: 1px solid var(--accent-color);
}
.button__icon{
    display: flex;
    align-self: center;
} 
.button__icon-none{
    display: none;
}
/* -------------- */
.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after{
    display: block;
    background: var(--general-text);
    width: 30px;
    height: 3px;
    border-radius: 100px;
    transition: all .4s;
}
.burger-icon span{
    position: relative;
}
.burger-icon span::before,
.burger-icon span::after{
    content: '';
    position: absolute;
}
.burger-icon span::before{
    top: -8px;
    transition: all .4s;
}
.burger-icon span::after{
    bottom: -8px;
    transition: all .4s;
}
.body--opened-menu .burger-icon span::before{
    top: 0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after{
    bottom: 0px;
    transform: rotate(-45deg);
}
.body--opened-menu .burger-icon span{
    background: transparent;
}
/* -------------- */
.title__border-line-1{
    width: 85px;
    height: 2px;
    background: var(--add-accent-color);
    margin: 0 auto;
}
.title__border-line-2{
    width: 85px;
    height: 2px;
    background: var(--accent-color);
    margin: 0 auto;
}
/* -------------- */
/* -------------- */
/* -------------- */